<%= form_with(model: position_paper, local: true, class: "position-paper-form") do |form| %>
  <% if position_paper.errors.any? %>
    <div id="error_explanation" class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(position_paper.errors.count, "erros") %> que precisam ser corrigidos</h2>

      <ul>
      <% position_paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :position_paper_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :year %>
    <%= form.text_field :year, id: :position_paper_year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question_1 %>
    <%= form.text_area :question_1, id: :position_paper_question_1, class: "form-control" %>
    <p>As questões são renderizadas como markdown, conheça mais <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">aqui</a>.</p>
  </div>

  <div class="form-group">
    <%= form.label :question_2 %>
    <%= form.text_area :question_2, id: :position_paper_question_2, class: "form-control" %>
    <p>As questões são renderizadas como markdown, conheça mais <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">aqui</a>.</p>
  </div>

  <div class="form-group">
    <%= form.label :question_3 %>
    <%= form.text_area :question_3, id: :position_paper_question_3, class: "form-control" %>
    <p>As questões são renderizadas como markdown, conheça mais <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">aqui</a>.</p>
  </div>
  
  <div class="form-group">
    <%= form.label :photo_url %>
    <%= form.text_field :photo_url, id: :position_paper_photo_url, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :order_index %>
    <%= form.text_field :order_index, id: :position_paper_order_index, class: "form-control" %>
  </div>

  <div class="actions right">
    <%= form.submit "Salvar", class: "button btn btn-primary" %>
    <% if action_name == :edit %>
    <%= link_to 'Visualizar', @position_paper, class: "btn btn-secondary" %> 
    <%= link_to 'Voltar', position_papers_path, class: "btn btn-info" %>
    <% end %>
  </div>
  
  
<% end %>
