<br><br><br>
<div class="row">
  <div class="col-lg-1 col-sm-12 offset"></div>
  <div class="col-lg-10 col-sm-12">
    <p id="notice"><%= notice %></p>

    <h1>Position Papers</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ano</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @position_papers.each do |position_paper| %>
          <tr>
            <td><%= position_paper.name %></td>
            <td><%= position_paper.year %></td>
            <td><%= link_to 'Show', position_paper %></td>
            <td><%= link_to 'Edit', edit_position_paper_path(position_paper) %></td>
            <td><%= link_to 'Destroy', position_paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Incluir novo Position Paper', new_position_paper_path, class: "btn btn-primary" %>
  </div>
</div>
