<!DOCTYPE html>
<html>
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113058871-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113058871-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Agile Coach Camp - Novo conteúdo disponível!!!</title>
    <%= csrf_meta_tags %>
	<%= javascript_include_tag '2022/application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '2023/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <meta property="og:image" content="<%= image_url('thumb-2022.jpg') %>">
    <meta property="og:description" content="A melhor oportunidade para criar conexões e discussões profundas entre agilistas e entusiastas!">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="http://agilecoachcamp.com.br/2022">
    <meta property="og:title" content="Agile Coach Camp - Nova edição se aproxima em 2022">
    <meta property="og:site_name" content="Agile Coach Camp">

  </head>

  <body id="acc2022">
	<header>	
	</header>
	<div id="content">
		
	    <%= yield %>
		
	</div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPTRZZS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

  </body>
</html>
