
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12" id="landing-img">
      <div class="layer">
	  	<h1>Aprendizado com pares</h1>
     	<p>A melhor oportunidade para criar conexões e discussões profundas entre agilistas e entusiastas!</p>
		<div>
			<a href="#" class="btn btn-camp btn-lg">Inscrever agora</a>
	 	</div>
      </div>
	</div>
  </div>
</div>
	
	2000x 1335
<div class="bs-docs-section clearfix ">
  <div class="row default-section">
    <div class="col-lg-7 text-content">
		<div>
      		<h1>Como surgiu o Agile Coach Camp?</h1>
      		<p>Após participar de diversas conferências e eventos, observamos que alguns dos aprendizados e insights mais significativos eram gerados durante conversas e trocas de ideias informais entre os participantes durante os intervalos no corredor, almoço e até mesmo no happy hour.</p>
			<p>O Agile Coach Camp proporciona um ambiente para aprofundar conexões, aprendizados e gerar insights entre agilistas e entusiastas que buscam impactar de forma significativa o trabalho nas organizações. Tudo isso em um formato de desconferência e em meio à natureza.</p>
			<p>A próxima edição acontece nos dias 14, 15 e 16 de fevereiro em um hotel fazenda próximo a cidade de São Paulo. Os participantes são livres para trazerem suas famílias para usufruir do hotel nos dias do evento, de acordo com nossa política de acomodações.</p>
		</div>
    </div>
	
	
    <div class="col-lg-5 image-content">
      <%= image_tag "foto-origem"  %>
	</div>
  </div>
</div>
	
	
<div class="bs-docs-section clearfix ">
  <div class="row alternated-section">
    <div class="col-lg-5 image-content">
      <%= image_tag "foto-ost"  %>
	</div>
	
    <div class="col-lg-7 text-content">
		<div>
      		<h1>Como funciona?</h1>
      		<p>Com o propósito de maximizar os aprendizados e trazer um pouco de estrutura e organização sem deixar de lado a liberdade das conversas informais, vamos utilizar o modelo Open Spaces como base da desconferência.</p>
			<p>Em um Open Space, as pessoas se auto-organizam em torno de um tópico de interesse e criam suas próprias agendas. Os participantes interessados se reúnem nos tópicos formando grupos para gerar ideias, debates e discussões sobre os temas propostos na agenda. Geralmente, as discussões têm um único facilitador que segue os seguintes princípios:</p>
			
			<ul>
				<li>“Aqueles que vierem são as pessoas certas”</li>
				<li>“O que aconteceu é o melhor que poderia ter acontecido”</li>
				<li>“Quando ele começa é o momento certo”</li>
				<li>“Acaba quando acaba”</li>
				<li>““Se você sente que não está aprendendo ou contribuindo, sinta-se livre para dar poucos passos para ir à um lugar que possa aprender e contribuir mais. Isso é conhecido como a lei dos dois pés”</li>
			</ul>
		</div>
    </div>
  </div>
</div>

<div class="bs-docs-section clearfix ">
  <div class="row">
    <div class="col-lg-12 image-full-content">
      <%= image_tag "foto-fogueira"  %>
	</div>
  </div>
</div>

<div class="bs-docs-section clearfix ">
  <div class="row program-section">
    <div class="col-lg-6 title">
		<div>
      	  	<h1>Características</h1>
	  		<h3>Change the way you travel, be closer to nature. Take a second to appreciate everyday beauty</h3>
	  	</div>
	</div>
	
    <div class="col-lg-6 features">
		<ul>
			<li>
				<div>
					<%= image_tag "network.png" %>
					<h2>Conexões</h2>
					<p>Valorizamos as conexões e acreditamos que elas nos permitem alcançar muito mais quando são fortes. Esteja preparado para criar relacionamentos!</p>
				</div>
			</li>	
			<li>
				<div>
					<%= image_tag "random_path.png" %>
					<h2>Acaso</h2>
					<p>Estamos criando a oportunidade de coisas excelentes acontecerem entre as pessoas certas, no lugar certo e no tempo certo!</p>
				</div>
			</li>
			<li>
				<div>
					<%= image_tag "Ball.png" %>
					<h2>Diversão</h2>
					<p>Teremos atividades ao ar livre para que todos os participantes possam liberar a criatividade e a inovação durante o evento.
</p>
				</div>
			</li>
			<li>
				<div>
					<%= image_tag "learn.png" %>
					<h2>Aprendizados</h2>
					<p>Criaremos mecanismos de promover todo o conhecimento que estiver sendo gerado e compartilhar os aprendizados.</p>
				</div>
			</li>		
		</ul>
	</div>    
  </div>
</div>



<!--
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12" id="landing-img">
      <h1>A melhor oportunidade para criar conexões e discussões profundas entre agilistas e entusiastas!</h1>
      <a class="btn btn-danger btn-lg" href="/2020/submission">Inscreva se!!</a>
    </div>
  </div>
<div>

<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-6 col-sm-12" id="proposal">
      <h1>Como surgiu o Agile Coach Camp</h1>

      <p>Após participar de diversas conferências e eventos, observamos que alguns dos aprendizados e insights mais significativos eram gerados durante conversas e trocas de ideias informais entre os participantes durante os intervalos no corredor, almoço e até mesmo no happy hour. </p>

      <p>O Agile Coach Camp proporciona um ambiente para aprofundar conexões, aprendizados e gerar insights entre agilistas e entusiastas que buscam impactar de forma significativa o trabalho nas organizações. Tudo isso em um formato de desconferência e em meio à natureza.</p>

      <p>A próxima edição acontece nos dias <strong>14, 15 e 16 de fevereiro </strong>em um hotel fazenda próximo a cidade de São Paulo. Os participantes são livres para trazerem suas famílias para usufruir do hotel nos dias do evento, de acordo com nossa política de acomodações.</p>

    </div>
    <div class="col-lg-6 col-sm-12 image-div">

      <div class="row ">
        <%= image_tag "fogueira.jpg" %>
        <p id="dates-highlight">14 - 16 de Fevereiro</p>
      </div>
    </div>
  </div>

  <div class="row division">
    <div class="col-lg-12 col-sm-12" ></div>
  </div>

  <div class="row alternated" id="unconf">
    <div class="alternated col-lg-6 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <h2>Como funciona? </h2>
        <p>Com o propósito de maximizar os aprendizados e trazer um pouco de estrutura e organização sem deixar de lado a liberdade das conversas informais, vamos utilizar o modelo Open Spaces como base da desconferência.</p>

        <p>Em um Open Space, as pessoas se auto-organizam em torno de um tópico de interesse e criam suas próprias agendas. Os participantes interessados se reúnem nos tópicos formando grupos para gerar ideias, debates e discussões sobre os temas propostos na agenda. Geralmente, as discussões têm um único facilitador que segue os seguintes princípios:</p>

        <ul>
          <li>“Aqueles que vierem são as pessoas certas”
          <li>“O que aconteceu é o melhor que poderia ter acontecido”</li>
          <li>“Quando ele começa é o momento certo”</li>
          <li>“Acaba quando acaba”</li>
          <li>“Se você sente que não está aprendendo ou contribuindo, sinta-se livre para dar poucos passos para ir à um lugar que possa aprender e contribuir mais. Isso é conhecido como a lei dos dois pés”</li>
        </ul>
      </div>
    </div>

    <div class="alternated col-lg-6 col-sm-12">
      <%= image_tag "open_spaces.jpg", class:"col-lg-12 col-sm-12" %>
    </div>
  </div>

  <div class="row" id="pomisses-div">
    <h2 class="center col-lg-12 col-sm-12">Características do Camp </h2>

    <ul id="promisses" class="col-lg-12 col-sm-12">
      <li class="col-lg-3 col-sm-6">
        <div>
          <%= image_tag "network.png" %>
          <h3>Conexões</h3><hr>
          Valorizamos as conexões e acreditamos que elas nos permitem alcançar muito mais quando são fortes. Esteja preparado para criar relacionamentos!
        </div>
      </li>
      <li class="col-lg-3 col-sm-6">
        <div>
          <%= image_tag "random_path.png" %>
          <h3>Acaso</h3>
          <hr>
          Estamos criando a oportunidade de coisas excelentes acontecerem entre as pessoas certas, no lugar certo e no tempo certo!
        </div>
      </li>
      <li class="col-lg-3 col-sm-6">
        <div>
          <%= image_tag "Ball.png" %>
          <h3>Diversão</h3>
          <hr>
          Teremos atividades ao ar livre para que todos os participantes possam liberar a criatividade e a inovação durante o evento.
        </div>
      </li>
      <li class="col-lg-3 col-sm-6">
        <div>
          <%= image_tag "learn.png" %>
          <h3>Aprendizados</h3>
          <hr>
          Criaremos mecanismos de promover todo o conhecimento que estiver sendo gerado e compartilhar os aprendizados.
        </div>
      </li>
    </ul>
  </div>

  <div class="row division">
    <div class="col-lg-12 col-sm-12" ></div>
  </div>

  <div class="row alternated" id="program">
    <div class="alternated col-lg-12 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <h2>O que vai acontecer lá?</h2>

        <ul class="row">
          <li class="col-lg-3 col-sm-10">
            <h3>Sexta-feira</h3><hr>
            <ul class="program-detailed row">
              <li class="col-lg-12 col-sm-12">
                14h00 - 15h00 Welcome Drinks<br>
                15h00 - 16h00 Open Tour<br>
                16h00 - 17h30 Atividades ao ar livre<br>
                17h30 - 18h30 Quartos<br>
                18h30 - 20h30 Unpluged Talks<br>
                20h30 - 22h00 Jantar<br>
                22h00 - 23h30 Ritual de Iniciação<br>
              </li>
            </ul>
          </li>
          <li class="col-lg-3 col-sm-10">
            <h3>Sábado</h3><hr>
            <ul class="program-detailed row">
              <li class="col-lg-12 col-sm-12">
                09h00 - 10h00 Caminhada<br>
                10h00 - 13h00 Open Spaces<br>
                13h00 - 14h00 Almoço<br>
                14h00 - 17h00 Aproveite o Hotel<br>
                17h00 - 20h00 Open Spaces<br>
                20h00 - 21h00 Quartos<br>
                21h00 - 23h30 Jantar e Happy Hour<br>
              </li>
            </ul>
          </li>
          <li class="col-lg-3 col-sm-10">
            <h3>Domingo</h3><hr>
            <ul class="program-detailed row">
              <li class="col-lg-12 col-sm-12">
                09h00 - 12h00 Problem Solving<br>
                12h00 - 13h00 Almoço<br>
                13h00 - 14h00 Feedback e Retro<br>
                14h00 - 14h00 Check Out!<br>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row " id="resort">

    <div class="col-lg-6 col-sm-12">
      <div class="white-box">
        <%= image_tag "logo_cheirodemato.png" %>
        <p>
          O Eco Resort Refúgio Cheiro de Mato está hospedando pela segunda vez o Agile Coach Camp, com um ambiente descontraído e relaxante o espaço oferece tranquilidade  àqueles que procuram uma pausa do estresse diário e formas alternativas de lazer com toda riqueza ecológica oferecida pela Mata Atlântica.
        </p>
        <p>
          Localizado próximo de São Paulo, o resort dispõe também de um amplo espaço para eventos, além de toda a infra-estrutura de fazer para famílias. Com mais de 90.000m2 de área verde, totalmente preservada, o Refúgio Cheiro de Mato consegue proporcionar total integração do homem com a natureza, ressaltando a interdependência que existe entre um e outro.
        </p>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">

    </div>
  </div>

  <div class="row" id="testmonials">
    <div class=" col-lg-12 col-sm-12">
      <div class="col-lg-12 col-sm-12"><br><br>
        <h2>O que os participantes dizem?</h2>

        <ul id="testmonials-list" class="row">



          <li class="col-lg-3 col-sm-12">
            <%= image_tag "https://i.ibb.co/Kr7mJY3/unnamed-Evandro-Silvestre.jpg" %>
            <blockquote>Discussões de alto nível sobre agilidade, com as pessoas mais influentes da comunidade. Isso resume o Agile Coach Camp, um final de semana que expande seus horizontes. Além disso, o lugar escolhido é excelente, você pode descansar na piscina aquecida com sua família entre uma discussão e outra.</blockquote>
            <h4>Evandro Silvestre</h4>
            <h6>Head Of Engineering - Platform at Creditas</h6>
          </li>

          <li class="col-lg-3 col-sm-12">
            <%= image_tag "https://i.ibb.co/2n5ktkJ/lula.jpg" %>
            <blockquote>
              No Agile Coach Camp sementes foram plantadas em conversas profundas e que vão florescendo aos poucos, mês após mês.
              Além disso, saio sempre com um sentimento de conexões fortalecidas, com pessoas que admiro e que quero próximas.
              Não é sempre que o mercado nos permite ter em uma mesma sala pessoas tão boas procurando andar para uma mesma direção...</blockquote>
            <h4>Luiz (Lula) Rodrigues</h4>
            <h6>Agile Expert at Knowledge21</h6>
          </li>

          <li class="col-lg-3 col-sm-12">
            <img src="https://i.ibb.co/0BKbjxR/IMAG3054-1.jpg">
            <blockquote>O Agile Coach Camp foi um final de semana sensacional porque reuniu pessoas com experiência prática em agilidade, dispostas a dividir suas experiências abertamente e explorar assuntos mais avançados. Desde a pauta do carro, até o jantar pós-volta pra São Paulo, os papos foram ótimos</blockquote>
            <h4>Ceci Fernandes</h4>
            <h6>Tech Manager at Nubank & Agile Alliance Brazil board member</h6>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <%= render "2022/welcome/pricing" %>

  <div class="row" id="participants">
    <div class="col-lg-12 col-sm-12">

      <h2>Quem vai estar no Camp?</h2>



      <div class=" offset-lg-3 col-lg-6 col-sm-12">
        <p class="alert alert-info center">
          Clique no nome das pessoas para ver seus position papers.
        </p><br><br>
      </div>


      <ul class="row">


    </div>
  </div>

  <div class="row">

        <iframe class="col-lg-12 col-sm-12" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=Refúgio+Cheiro+de+Mato&key=<%= @apiKey %>" allowfullscreen>

        </iframe>

  </div>

-->
