
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12" id="landing-img">
      <h1>A melhor oportunidade para discussões profundas sobre temas avançados!</h1>
    </div>
  </div>
<div>
  

<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-6 col-sm-12" id="proposal">
      <h1>Junte se ao Agile Coach Camp!</h1>
      <p>Você já esteve em uma conferência em que percebeu que os principais insights e aprendizados vieram de conversas que aconteceram nos corredores? Ou vieram de uma conversa que aconteceu durante um almoço, ou até mesmo no Happy Hour?</p>

      <p>O Agile Coach Camp é um evento em que criaremos as oportunidades para discussões profundas sobre temas avançados em um formato de desconferência, além de conectar você com outros profissionais do mundo da gestão e com pessoas realmente interessadas em melhorar o trabalho nas organizações.</p>

      <p>O evento é realizado sem fins lucrativos e acontecerá nos dias 23, 24 e 25 de Março/2018 em um hotel fazenda próximo a cidade de São Paulo. Qualquer participante é livre para trazer sua família para usufruir do hotel nos dias do evento, de acordo com nossa política de acomodações.</p>
      
      
      
    </div>
    <div class="col-lg-6 col-sm-12 image-div">
      <%= image_tag "creative_materials.jpg", class:"col-lg-12 col-sm-12" %>
    </div>
  </div>
  <div class="row">
    <%= image_tag "bg-footer.png", class: "col-lg-12 col-sm-12" %>
  </div>
  <div class="row alternated" id="unconf">
    <div class="alternated col-lg-6 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <h2>Como funciona uma desconferência?</h2>
        <p>Como base da desconferência vamos utilizar a tecnologia de Open Space durante a maior parte do evento, de forma a maximizar os aprendizados de conversas de corredor com um pouco mais de estrutura e organização.</p>

        <p>O Open Space é uma forma de auto-organização de reuniões e conferências em torno do que mais importa para as pessoas. As pessoas se juntam em torno de tópicos ou necessidades de alto nível e criam sua própria agenda; e então as pessoas formam grupos para terem ideias, debater ou discutir os tópicos propostos na agenda. De forma geral um evento Open Space é facilitado por um único facilitador e segue os seguintes princípios:</p>
  
        <ul>
          <li>“Aqueles que vierem são as pessoas certas.”
          <li>“Seja o que acontecer é o que poderia ter acontecido.”</li>
          <li>“Quando ele começa é o momento certo.”</li>
          <li>“Acaba quando acaba.”</li>
          <li>“Se você não está aprendendo ou contribuindo, sinta-se a vontade para ir par um lugar onde você possa aprender e contribuir. Isso é conhecido como a leis dos dois pés”.</li>
        </ul>
      </div>
    </div>
  
    <div class="alternated col-lg-6 col-sm-12">
      <%= image_tag "open_spaces.jpg", class:"col-lg-12 col-sm-12" %>
    </div>
  </div>
  
  <div class="row" id="pomisses-div">
    <h2 class="center col-lg-12 col-sm-12">Caracteríticas do Camp </h2>
    
    <ul id="promisses" class="col-lg-12 col-sm-12">
      <li class="col-lg-3 col-sm-6">
        <div>
          <%= image_tag "network.png" %>
          <h3>Conexões</h3><hr>
          Valorizamos as conexões. Acreditamos que conexões fortes nós permitem alcançar muito mais que conseguiríamos sem elas. Esteja preparado para criar relacionamentos!
        </div>
      </li>
      <li class="col-lg-3 col-sm-6">
        <div>
          <%= image_tag "random_path.png" %>
          <h3>Acaso</h3>
          <hr>
          Estamos criando a oportunidade de coisas excelentes acontecerem, com as pessoas certas, no lugar certo e no tempo certo!
        </div>
      </li>
      <li class="col-lg-3 col-sm-6">
        <div>
          <%= image_tag "Ball.png" %>
          <h3>Diversão</h3>
          <hr>
          Planejamos jogos ao ar livre para fomentar a confiança do grupo de participantes e promover conexões que liberem a criatividade e a inovação durante o evento
        </div>
      </li>
      <li class="col-lg-3 col-sm-6">
        <div>
          <%= image_tag "learn.png" %>
          <h3>Aprendizados</h3>
          <hr>
          Criaremos espaços para expor todo o aprendizado que estiver ocorrendo durante o camp e situações que potencializem um profundo aprendizado
        </div>
      </li>
    </ul>
  </div>
  
</div>
<div>