<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-6 col-sm-12 submission">
      <h1>Como participar?</h1>

      <p>O pré-requisito de submissão do Position Paper é <strong>possuir no mínimo 3 anos de experiência</strong> colaborando com equipes e organizações para torná-las mais ágeis.</p>

      <p>O preenchimento de um Position Paper é um requisito de entrada no Agile Coach Camp e deve conter respostas para as seguintes perguntas:</p>

      <ul>
        <li><strong>Qual é a sua experiência colaborando para que equipes e organizações sejam ágeis? </strong><br> Informe o tempo de experiência e descreva alguma experiência em que você ajudou pessoas, equipes ou organizações a serem ágeis.</li>
        <li><strong>O que você planeja aprender ou explorar nesse Camp? <br> </strong>Informe o que você gostaria de aprender ou explorar com/das outras pessoas participantes para sanar alguma dor/dificuldade que você tem experimentado.</li>
        <li><strong>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que? </strong> <br> Esse é o momento de exercer um bom futurismo, faça sua previsão.</li>
        <li><strong>Quem você gostaria de encontrar nessa edição do Camp? <br> </strong> Queremos ter a melhor experiência com as melhores pessoas. E você pode ajudar nisso! (opcional)</li>
      </ul>      
    </div>  

    <div class="col-lg-6 col-sm-12 submission center">
      <div>
        <%= image_tag "writing.jpg" %>
        <br>
        <a class="btn btn-danger center submit-pp" href="#">Submeter meu Position Paper</a>
      </div>
    </div>
  </div>    
  <div class="row division">
    <div class="col-lg-12 col-sm-12" ></div>
  </div>
  
  <div class="row alternated" id="criterias">
    <div class="alternated col-lg-6 col-sm-12">
      <h3>Critérios de revisão do Position Paper</h3>      

      <ul>
        <li class="col-lg-5 col-sm-12">
          <%= image_tag "contrast.png" %>
          <h4>Objetividade</h4> 
          <hr>Demonstrar algo realizável, concreto, relevante, específico para o público deste evento.
        </li>
        <li class="col-lg-5 col-sm-12">
          <%= image_tag "target.png" %>
          <h4>Clareza na proposta</h4>
          <hr>Mostrar de forma clara e específica qual aprendizado se pretende levar e trazer para o evento e os temas a serem explorados.
        </li>
      </ul>
    </div>
    <div class="alternated col-lg-6 col-sm-12">
      <h3>Critérios de aceitação de participação</h3>

      <ul>
        <li class="col-lg-5 col-sm-12">
          <%= image_tag "approved.png" %>
          <h4>Aceitação do Paper</h4><hr>
          Uma vez tendo passado pelo o processo submissão o Position Paper deve ter sido aceito. 
        </li>
        <li class="col-lg-5 col-sm-12">
          <%= image_tag "feedback.png" %>
          <h4>Boa avaliação</h4><hr>
          Cada edição do Agile Coach Camp tem uma sessão de feedback 360 entre os participantes, a organização utiliza esta informação para aceitar os participantes.
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-12 col-sm-12" id="stages">
      <h3>Etapas de avaliação de um Position Paper</h3>

      <ul>
        <li><span>1</span>Submissão de somente um Position Paper por pessoa</li>
        <li><span>2</span>Confirmação de recebimento da submissão</li>
        <li><span>3</span>Primeira revisão (por ordem de chegada)</li>
        <li><span>4</span>Primeiro feedback (aceite ou sugestões de melhorias)</li>
        <li><span>5</span>Se retornou o Position Paper e ainda há vagas, segunda revisão</li>
        <li><span>6</span>Segundo feedback (aceite ou sugestões de melhorias)</li>
        <li><span>7</span>Se retornou o Position Paper e ainda há vagas, terceira revisão</li>
        <li><span>8</span>Terceiro feedback (aceite ou rejeição)</li>
      
      </ul>
    </div>  
  </div>  
  
  <div class="row" id="submit-now">
    <div class="col-lg-12 col-sm-12">
      <a class="btn btn-danger" href="#">Submeta agora!</a>
    </div>
  </div>
</div>
