<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-6 col-sm-12 submission">
      <h1>Como participar?</h1>

      <p>O pré-requisito de submissão do Position Paper é <strong>possuir no mínimo 3 anos de experiência</strong> colaborando com equipes e organizações para torná-las mais ágeis.</p>

      <p>O preenchimento de um Position Paper é um requisito de entrada no Agile Coach Camp e deve conter respostas para as seguintes perguntas:</p>

      <ul>
        <li><strong>Qual é a sua experiência colaborando para que equipes e organizações sejam ágeis? </strong><br> Informe o tempo de experiência e descreva alguma experiência em que você ajudou pessoas, equipes ou organizações a serem ágeis.</li>
        <li><strong>O que você planeja aprender ou explorar nesse Camp? <br> </strong>Informe o que você gostaria de aprender ou explorar com/das outras pessoas participantes para sanar alguma dor/dificuldade que você tem experimentado.</li>
        <li><strong>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que? </strong> <br> Esse é o momento de exercer um bom futurismo, faça sua previsão.</li>
        <li><strong>Quem você gostaria de encontrar nessa edição do Camp? <br> </strong> Queremos ter a melhor experiência com as melhores pessoas. E você pode ajudar nisso! (opcional)</li>
      </ul>      
    </div>  

    <div class="col-lg-6 col-sm-12 submission center">
      <div>
        <%= image_tag "writing.jpg" %>
        <br>
        <a class="btn btn-danger center submit-pp" href="https://agilecoachcamp1.typeform.com/to/QZZMIF">Submeter agora!!</a>
      </div>
    </div>
  </div>    
  <div class="row division">
    <div class="col-lg-12 col-sm-12" ></div>
  </div>
  
  <div class="row alternated" id="process">
    <div class="alternated col-lg-12 col-sm-12">
      <h3>Etapas do processo de inscrição</h3>      

      <ul>
        <li class="col-lg-2 col-sm-12">
          <%= image_tag "approved.png" %>
          <h4>Position Paper aprovado</h4>
          <p>O Position Paper deve ser avaliado e aprovado pela organização de acordo com os critérios pré-estabecidos.</p>
        </li>
        
        <li class="col-lg-1 col-sm-12 offset d-none d-lg-block">
        </li>
        
        <li class="col-lg-2 col-sm-12">
          <%= image_tag "feedback.png" %>
          <h4>Participação aceita</h4>
          <p>Neste passo tanto o Position Paper e como os <a href="https://goo.gl/TCWmZD">feedbacks de participação</a> (só para quem esteve da edição passada) são utilizados para aceitação.</p>
        </li>
        
        <li class="col-lg-1 col-sm-12 offset d-none d-lg-block">
        </li>
        
        <li class="col-lg-2 col-sm-12">
          <%= image_tag "credit-card.png" %>
          <h4>Pagamento confirmado</h4>
          <p>O pagamento precisa ser processado e confirmado pela organização de acordo com as opções de de acomodação.</p>
          
        </li>
        
        <li class="col-lg-1 col-sm-12 offset d-none d-lg-block">
        </li>
        
        <li class="col-lg-2 col-sm-12">
          <%= image_tag "user.png" %>
          <h4>Publicação do Position Paper</h4>
          <p>Uma foto e nome do participante é publicado na Home do evento junto com o  Position Paper.</p>
        </li>
      </ul>
    </div>
    <p class="cleafix"><p> 
  </div>
  
  <div class="row">
    <div class="col-lg-6 col-sm-12" id="criterias">
      <h3>Critérios de revisão do Position Paper</h3>      

      <ul>
        <li class="col-lg-5 col-sm-12">
          <%= image_tag "contrast.png" %>
          <h4>Objetividade</h4> 
          <hr>Demonstrar algo realizável, concreto, relevante, específico para o público deste evento.
        </li>
        <li class="col-lg-5 col-sm-12">
          <%= image_tag "target.png" %>
          <h4>Clareza na proposta</h4>
          <hr>Mostrar de forma clara e específica qual aprendizado se pretende levar e trazer para o evento e os temas a serem explorados.
        </li>
      </ul>
    </div>


  
  <div class="col-lg-6 col-sm-12" id="stages">
      <h3>Etapas de avaliação de um Position Paper</h3>

      <ul>
        <li><span>1</span>Submissão de somente um Position Paper por pessoa</li>
        <li><span>2</span>Confirmação de recebimento da submissão</li>
        <li><span>3</span>Primeira revisão (por ordem de chegada)</li>
        <li><span>4</span>Primeiro feedback (aceite ou sugestões de melhorias)</li>
        <li><span>5</span>Se retornou o Position Paper e ainda há vagas, segunda revisão</li>
        <li><span>6</span>Segundo feedback (aceite ou sugestões de melhorias)</li>
        <li><span>7</span>Se retornou o Position Paper e ainda há vagas, terceira revisão</li>
        <li><span>8</span>Terceiro feedback (aceite ou rejeição)</li>
      
      </ul>
    </div>  
  </div>  
  
</div>
  
  <%= render "2019/welcome/pricing" %>
  
  <div class="row" id="submit-now">
    <div class="col-lg-12 col-sm-12">
      <a class="btn btn-danger" href="https://agilecoachcamp1.typeform.com/to/QZZMIF">Submeta agora!</a>
    </div>
  </div>
</div>