<%= form_with(model: survey, local: true) do |form| %>
  <h1>Inscreva se agora!</h1><br>
  <div class="form-group">
    <label for="survey_email">Endereço de e-mail</label>
    <%= form.email_field :email, id: :survey_email, class: "form-control", "aria-describedby": "emailHelp", placeholder: "Entre seu e-mail" %>
    <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seu e-mail com ninguém.</small>
  </div>

  <div class="form-group">
    <label for="survey_name">Nome</label>
    <%= form.text_field :name, id: :survey_name, class: "form-control", "aria-describedby": "nameHelp", placeholder: "Entre seu nome" %>

  </div>

  <br>
  <h4>Opções de inscrição</h4>

  <p>
   Todas as opções incluem:
  </p>
  <ul>
     <li>Jantar, Almoço e Café da Manhã</li>
     <li>Hospedagem</li>
     <li>Custo de atividades e materiais realizadas no evento</li>
  </ul>
  <p>
     Cobrança extra para bebidas e estacionamento.
  </p>


  <fieldset id="options" class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="subscriptionOption1" value="regular-subscription">
         <span class="text-info">Inscrição Regular (R$ 1.080,00)</span> - Dividir o quarto com outro participante do evento
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="subscriptionOption2" value="individual-subscription">
        <span class="text-info">Inscrição Individual (R$ 1.410,00)</span> - Um quarto só para você.
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="subscriptionOption3" value="family-subscription">
        <span class="text-info">Inscrição Familia (R$ 1.800,00) </span> - Leve sua família, 2 adultos e 1 criança até 10 anos
      </label>
    </div>
  </fieldset>
  <div id="payment-methods" class="hide">
    <h1>Meio de pagamento</h1>
    <ul class="payment-methods">
      <li>
        <a href="#" data-payment-method="card">
          <img class="payment-card"  src="http://cartaoecredito.net/wp-content/uploads/2012/03/visamastercardop663x800fv6.jpg">
          <br>Pagar com cartão
        </a>
      </li>
      <li>
        <a href="#" data-payment-method="paypal">
          <img class="payment"  src="http://glosite.com/blog/wp-content/uploads/2012/03/add-paypal-button-to-your-wedding-website.png"><br>
          Pagar com paypal
        </a>
      </li>
    </ul>
  </div>
    <%= form.hidden_field :subscription, id: :survey_subscription %>
    <%= form.hidden_field :payment, id: :survey_payment %>

<% end %>
