    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1215323528631546');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1215323528631546&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12 col-sm-12 submission">
      <h1>Como participar?</h1>

      <p>Para participar do Agile Coach Camp, além da taxa de inscrição é necessário a submissão do do Position Paper e <strong>possuir no mínimo 3 anos de experiência</strong> colaborando com equipes e organizações para torná-las mais ágeis.</p>

      <p>O objetivo do position paper é te auxiliar na reflexão sobre o que quer aprender, explorar e discutir no evento. Sua submissão será avaliada por um grupo de experts que irão te dar um feedback sobre sua inscrição. Nesta etapa já começa o aprendizado e a experiência do camp.</p>
      
      <p>No position paper você irá refletir e responder os seguintes pontos:</p>

      <ul>
        <li>
          <strong>O que você planeja aprender ou explorar no Agile Coach Camp e quais temas que você quer discutir?</strong><br> 
          Estamos no camp para levantar questões relevantes e gerar discussões e aprendizados profundos e significativos, por isso conhecer os seus temas de interesse e a profundidade com que você enxerga as questões são muito importantes!
        </li>
        <li>
          <strong>Como você acredita que pode contribuir nessa edição do Agile Coach Camp? <br> </strong>
          O Agile Coach Camp é uma desconferência, isso quer dizer que o evento será tão bom quanto a contribuição das pessoas presentes nele. Como você acredita que pode contribuir?
        </li>
        <li>
          <strong>
            Conte-nos qual é a sua experiência colaborando para que equipes e organizações sejam ágeis </strong> <br> 
            Conhecer cada participante e sua jornada nos ajuda a entender como podemos aprofundar os assuntos. Não estamos atrás de um currículo, mas de uma breve história que conte sua experiência e que te trouxe até aqui.
        </li>
        <li>
          <strong>
            Na sua opinião, quais nomes são relevantes na comunidade ágil e que seria interessante encontrar nas edições do Agile Coach Camp?
          </strong> <br> 
            Ajude-nos a entender quem são as pessoas da comunidade que são consideradas relevantes para termos excelentes discussões e melhorarmos o nível do aprofundamento dos temas.
        </li>
      </ul>      
    </div>  

    <!--<div class="col-lg-3 col-sm-12 submission center">
      <div>
        <%= image_tag "writing.jpg" %>
        <br>
        <a class="btn btn-danger center submit-pp" href="https://agilecoachcamp1.typeform.com/to/QZZMIF">Submeter agora!!</a>
      </div>
    </div>-->
  </div>    
  <div class="row division">
    <div class="col-lg-12 col-sm-12" ></div>
  </div>
  
  <div class="row alternated" id="process">
    <div class="alternated col-lg-12 col-sm-12">
      <h3>Etapas do processo de inscrição</h3>      

      <ul>
        <li class="col-lg-2 col-sm-12 offset d-none d-lg-block">
        </li>
        
        <li class="col-lg-2 col-sm-12">
          <%= image_tag "approved.png" %>
          <h4>Position Paper aprovado</h4>
          <p>O Position Paper deve ser revisado pela organização de acordo com os critérios pré-estabecidos até a aprovação do mesmo</p>
        </li>
        <!--
        <li class="col-lg-1 col-sm-12 offset d-none d-lg-block">
        </li>
        
        <li class="col-lg-2 col-sm-12">
          <%= image_tag "feedback.png" %>
          <h4>Participação aceita</h4>
          <p>Neste passo tanto o Position Paper como os <a href="https://goo.gl/TCWmZD">feedbacks de participação</a> (só para quem esteve da edição passada) são utilizados para aceitação.</p>
        </li>-->
        
        <li class="col-lg-1 col-sm-12 offset arrow d-none d-lg-block">
        </li>
        
        <li class="col-lg-2 col-sm-12">
          <%= image_tag "credit-card.png" %>
          <h4>Pagamento confirmado</h4>
          <p>Escolha qual o melhor tipo de acomodação para você, o meio de pagamento e realize o pagamento.</p>
          
        </li>
        
        <li class="col-lg-1 col-sm-12 offset arrow d-none d-lg-block">
        </li>
        
        <li class="col-lg-2 col-sm-12">
          <%= image_tag "user.png" %>
          <h4>Publicação do Position Paper</h4>
          <p>Após confirmado o recebimento o position paper é publicado na Home do evento e sua inscrição está completa e sua participação confirmada!</p>
        </li>
        <li class="col-lg-2  col-sm-12 offset d-none d-lg-block">
        </li>
      </ul>
    </div>
 
  </div>
  
  <div class="row">
    <div class="col-lg-6 col-sm-12" id="criterias">
      <h3>Critérios de revisão do Position Paper</h3>      

      <ul>
        <li class="col-lg-5 col-sm-12">
          <%= image_tag "contrast.png" %>
          <h4>Objetividade</h4> 
          <hr>Demonstrar algo realizável, concreto, relevante, específico para o público deste evento.
        </li>
        <li class="col-lg-5 col-sm-12">
          <%= image_tag "target.png" %>
          <h4>Clareza na proposta</h4>
          <hr>Mostrar de forma clara e específica qual aprendizado pretende levar e trazer com o evento e os temas a serem explorados.
        </li>
      </ul>
    </div>


  
  <div class="col-lg-6 col-sm-12" id="stages">
      <h3>Etapas de avaliação de um Position Paper</h3>

      <ul>
        <li><span>1</span>Será avaliado somente um position paper por pessoa, por ordem de recebimento dos papers</li>
        <li><span>2</span>Primeira revisão: seu position paper será aceito ou terão sugestões de melhoria para conhecermos melhor seu background</li>
        <li><span>3</span>Segunda revisão ou aceite: Esta revisão acontecerá se você enviar seu paper revisado e ainda houverem vagas disponíveis</li>
        <li><span>4</span>Aceite ou terceira revisão. Caso seja necessário, você poderá receber um terceiro feedback sobre sua submissão. Aqui seu paper poderá ser rejeitado ou aceito</li>
      
      </ul>
    </div>  
  </div>  
  
</div>
  
  <%= render "2020/welcome/pricing" %>
  
  <div class="row" id="submit-now">
    <div class="col-lg-12 col-sm-12">
      <a class="btn btn-danger" href="https://agilecoachcamp1.typeform.com/to/QZZMIF">Submeta agora!</a>
    </div>
  </div>
</div>